/*ALL*/
body {
    font-family: "Montserrat";
    background-color: slategrey;
}
main{
    top: 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: block;
}

section {
    margin-left: 2rem;
    margin-right: 2rem;
}

/*header*/
.tentruong {
    color: white;
    margin: 0 auto;
    padding-left: 2.5rem;
    text-align: center;

}

.logo img {
    width: 300px;
    padding-left: 2.5rem;
}

.indam {
    font-weight: bold;
}

/*NAV*/
body {
    margin: 0;
    padding: 0;
}

.fix {
    clear: both;
    overflow: hidden;
}

header {
    overflow: hidden;
    height: 100vh;
}

.vi-bg {
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.area {
    margin-top: 4rem;
    position:sticky;
    width: 100%;
}

.logo {
    float: left;
    margin: auto 0;
}

nav {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.nax {
    position: absolute;
    width: 100%;
    background-color: #485160;
}

.menu>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}




.menu>ul>li:first-child {
    border-left: none;
}

.menu>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    transition: 0.3s ease;
}

.menu>ul>li>a:hover {
    background-color: transparent;
    color: white;
    border-bottom: 3px solid white;
}

.gioithieu {
    display: none !important;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: #485160;
}

.gioithieu>li {
    list-style-type: none;
    padding: 0.6rem;
}

.gioithieu>li>a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    transition: 0.3s ease;

}

.sub:hover .gioithieu {
    display: block !important;
}

.gioithieu>li>a:hover {
   
    border-bottom: 3px solid white;
}

/*FOOTER*/
footer {
    background-color: #cc2129;
}

.information {
    color: white;

}

.inf11>div img {
    width: 60px;
    padding-left: 2rem;
    padding-right: 1rem;
}

.inf111 {
    margin-right: auto;
}

.inf12 {
    padding-left: 4rem;
}

.inf2 {
    margin-right: 2rem;
}

.end {
    text-align: center;

}