
/* main*/
.tuade {
    color: white;
    text-shadow: 3px 2px 4px whitesmoke;
    text-align: center;
    font-size: 2rem; 
}

.book {
    width: 30%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
   
    /* position: relative; */
}
.book>a{
    text-decoration: none;
}
.book>a>h5{
    text-decoration: none;
    color: white;
}
.book>a>h5:hover{
    color: aqua;
}

.book img {
    width: 100%;
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(240, 229, 229, 0.5);
}
.book img:hover{
    transform: scale(1.02,1.03);
    transition: 1s;
}

.dam {
    font-weight: bold;
}

.course {
    width: 70%;
    margin: 0 auto;
    padding: 3rem;
   
}

.forum {
  background-color: #90caf9;
    border: 4px solid #283593;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
    animation: doimau 1s infinite;
}

.forum>h1 {
    margin-left: 1rem;
    color: black;
    text-shadow:3px 2px 4px #283593;
}

.nut {
    background-color: #4472c4;
    color: white;
    padding: 0.7rem 1.8rem;
    margin-right: 1rem;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #3066be;
    cursor: pointer;
    
}
.nut:hover{
    color: #283593;
    background-color: whitesmoke;
}
.kitu>a {
    color: #61dbf3;
    text-decoration: none;  
}

.kitu>a:hover{
    color: #dfb20ed4;
    transition: 0.7s;
}
.kitu {
    padding-bottom: 1rem;
    border-bottom: 1px ;
}
.kitu:last-child{
    margin-bottom: 2.5rem;
}
/*chu kỳ*/
.chuky>li {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.chuky1 {
    border-top: 1px dashed whitesmoke;
}


@keyframes doimau{
   from{
    background-color: #90caf9;
   }
   to{
    background-color: whitesmoke;
   }

}
