.maudo{
    color: #cb3a3a;
    
}
.block1{
    width: 100%;
   margin: 2rem 1rem;
    border-radius: 10px 10px 10px 10px;
   
}

.block1>div{
    font-weight: bold;
    text-align: center;
}
.anh img{
    width: 120px
}
.name{
    margin-right: auto;
    width: 100%;
}
.box{  
    border: 1px solid #c0c0c0;
    width: 33%;
    background-color: #f2f2f2;
    text-align: left;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
}

